<div class="ipi">
    <h1 class="titulo-intro">
        <i class="fa-solid fa-industry"></i> &nbsp;
        <span>IPI e a Zona Franca de Manaus</span>
    </h1>

    <div class="card-info">
        <h1 class="titulo_card-info">
            <i class="fa-solid fa-calendar-day"></i> &nbsp;
            <span>A partir de 1º de janeiro de 2027:</span>
        </h1>
        <ul>
            <li>O IPI será <b>extinto</b> para praticamente todos os produtos no Brasil</li>
            <li>Será substituído pelo IVA dual (CBS e IBS)</li>
            <li><b>Única exceção:</b> manutenção do IPI como instrumento de proteção à Zona Franca de Manaus</li>
            <li>Na ZFM, a alíquota poderá ser zerada para produtos fabricados na região</li>
        </ul>
    </div>

    <div class="zona-ipi">
        <div class="card_zona-ipi" >
            <h5 style="color: #dc3545;">IPI - Regra Geral</h5>
            <i class="fa-solid fa-times-circle" style="color: #dc3545;"></i>
            <p><b>EXTINTO em 2027</b></p>
            <p>Substituído pelo IVA dual (CBS + IBS)</p>
        </div>
        <div class="card_zona-ipi" >
            <h5 style="color: #28a745;">IPI - Zona Franca de Manaus</h5>
            <i class="fa-solid fa-circle-check" style="color: #28a745;"></i>
            <p><b>MANTIDO</b></p>
            <p>Como proteção aos incentivos regionais</p>
        </div>
    </div>

    <div class="card-alert">
        <h1 class="titulo_card-alert">
            <i class="fa-solid fa-circle-info"></i> &nbsp;
            <span>Impacto no Simples Nacional</span>
        </h1>
        <div class="subtitulo_card-alert">
            As empresas do Simples Nacional também deixarão de recolher IPI em suas operações, exceto em situações específicas envolvendo incentivos regionais da Zona Franca de Manaus, sem afetar o regime geral do Simples
        </div>
    </div>
</div>