.ipi {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .titulo-intro {
        color: var(--royal-blue);
        font-weight: 700;
        font-size: 36px;

        @media (max-width: 768px) {
            font-size: 24px;
            text-align: center;
        }
    }

    .card-info {
        border: 2px solid var(--royal-blue-light);
        border-radius: 10px;
        padding: 20px 40px;
        background: var(--gradient-blur);

        @media (max-width: 768px) {
            padding: 20px;
        }

        .titulo_card-info {
            gap: 10px;
            font-size: 24px;
            font-weight: 600;
            color: var(--royal-blue-light);

            @media (max-width: 768px) {
                font-size: 18px;
                text-align: center;
                margin-bottom: 15px;
            }
        }

        span {
            font-weight: 700;
        }

        li {
            color: var(--gray-600);

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }

    .zona-ipi {
        display: flex;
        gap: 15px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .card_zona-ipi {
            flex: 1;
            border: 2px solid var(--royal-blue-light);
            background: var(--gradient-blur);
            border-radius: 10px;
            box-shadow: var(--shadow-md);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            color: var(--gray-600);
            padding: 20px 0px;

            h5 {
                text-align: center;
            }

            @media (max-width: 768px) {
                padding: 20px;
            }

            p {
                margin: 0;

                @media (max-width: 768px) {
                    text-align: center;
                }
            }

            i {
                font-size: 48px;
            }
        }
    }

    .card-alert {
        background: var(--sand);
        border: 2px solid var(--sand-dark);
        border-radius: 10px;
        padding: 20px;

        .titulo_card-alert {
            font-size: 20px;
            font-weight: 600;
            color: var(--sand-dark-two);
            margin-bottom: 8px;

            @media (max-width: 768px) {
                font-size: 18px;
                text-align: center;
            }
        }

        .subtitulo_card-alert {
            font-weight: 550;
            color: var(--gray-600);

            @media (max-width: 768px) {
                font-size: 14px;
                text-align: center;
            }
        }
    }

}