<div class="credito">
    <h3 class="titulo-intro">
        <i class="fa-solid fa-coins"></i> &nbsp;
        <span>Novo Modelo de Apropriação de Crédito</span>
    </h3>
    <div class="subtitulo-intro">
        A Reforma Tributária sobre o consumo promove mudanças estruturais profundas com o objetivo de simplificar e
        modernizar o sistema tributário brasileiro.
    </div>

    <h2 class="intro">Como Funciona?</h2>

    <div class="card-info">
        <ul>
            <li>As empresas terão direito ao <b>crédito integral</b> do valor efetivamente pago de CBS e IBS nas etapas
                anteriores</li>
            <li>Direito está condicionado à <b>comprovação do pagamento</b> do tributo na etapa anterior</li>
            <li>A operação posterior deve ser tributada ou isenta com direito a crédito</li>
            <li>Elimina diversas restrições que hoje impedem o aproveitamento pleno dos créditos</li>
        </ul>
    </div>

    <h2 class="intro">Regra Geral: Crédito Financeiro Universal</h2>
    <p>O crédito passa a ser <b>financeiro</b>, calculado com base no valor efetivamente pago, e não mais limitado por
        critérios subjetivos como "essencialidade" ou "atividade-fim".</p>

    <div class="tipos-creditos">
        <div class="card_tipos-creditos">
            <i class="fa-solid fa-bolt"></i>
            <span>Energia Elétrica</span>
        </div>
        <div class="card_tipos-creditos">
            <i class="fa-solid fa-house"></i>
            <span>Aluguéis de Imóveis</span>
        </div>
        <div class="card_tipos-creditos">
            <i class="fa-solid fa-gears"></i>
            <span>Ativo Imobilizado</span>
        </div>
        <div class="card_tipos-creditos">
            <i class="fa-solid fa-shield-halved"></i>
            <span>Serviços Indiretos</span>
        </div>
    </div>

    <h2 class="intro">Quando Não Gera Crédito?</h2>

    <div class="card-alert">
        <div class="titulo_card-alert">
            <i class="fa-solid fa-circle-xmark"></i>
            <span>Exclusões</span>
        </div>
        <ul>
            <li>Operações não tributadas (exceto quando houver previsão legal expressa)</li>
            <li>Despesas pessoais, de terceiros ou sem nexo com a atividade econômica</li>
            <li>Aquisições para uso ou consumo pessoal do sócio ou colaborador</li>
            <li>Desperdícios, quebras ou perdas anormais de estoque ou bens</li>
            <li>Documentos fiscais inidôneos ou sem lastro de pagamento do tributo</li>
        </ul>
        
    </div>

</div>