.menu-flutuante {
  position: fixed;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  backdrop-filter: blur(20px);
  background: var(--royal-blue);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 8px;
  transition: var(--transition-normal) !important;

  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 70px;
  max-width: 1200px;
  width: 90vw;

  &:hover {
    background: var(--royal-blue);
    box-shadow: var(--shadow-xl);
  }

  @media (max-width: 768px) {
    top: 16px;
    left: 16px;
    right: 16px;
    transform: none;
    padding: 14px;
    max-height: 50px;
  }

  .logo-parametriz {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    img {
      margin-left: 10px;
      width: 60px;

      @media (max-width: 768px) {
        width: 40px;
      }
    }

    .content-texto {
      color: white;

      h1 {
        font-size: 28px;
        font-weight: bolder;
        margin: 0 !important;
        line-height: 1;
        font-family: var(--font-logo);

        @media (max-width: 768px) {
          font-size: 18px;
        }
      }

      h2 {
        font-size: 12px;
        line-height: 1;
        font-weight: 100;
        margin: 0 !important;
        font-family: var(--font-logo);

        @media (max-width: 768px) {
          font-size: 8px;
        }
      }
    }
  }

  .nav-container {
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 0px 16px;
  }
}

.reforma {
  background: var(--gradient-blur);
  border: 1px dashed var(--white) !important;
  transition: var(--transition-slow) !important;

  @media (max-width: 768px) {
    background: var(--gradient-secondary);
    color: white;
    border: 1px dashed var(--sand-dark-two) !important;
  }

  &:hover {
    transform: scale(1.05);
    background: var(--gradient-hero) !important;
  }
}

.nav-links {
  display: flex;
  gap: 5px;

  &.active {
    flex-direction: column;
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    background: var(--sand-light);
    border: 1px dashed var(--royal-blue);
    border-radius: 20px;
    padding: 16px;
    gap: 8px;
    z-index: 0;

    .nav-link {
      color: var(--royal-blue);
    }
  }

  @media (max-width: 768px) {
    display: none;

    &.active {
      display: flex;
    }
  }
}

.nav-link {
  color: var(--white);
  text-decoration: none !important;
  font-weight: 500;
  padding: 8px 15px;
  border: 1px solid var(--royal-blue);
  border-radius: 25px;
  transition: var(--transition-normal) !important;
  position: relative;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &:focus {
    outline: none;
  }

  &.active {
    background: var(--royal-blue-dark-blur);
    border: 1px dashed var(--sand-light);
    font-weight: 600;
    color: var(--white) !important;
  }
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 3px;
  background: none;
  border: none;
  cursor: pointer;

  span {
    width: 35px;
    height: 3px;
    background: var(--white);
    transition: var(--transition-fast) !important;
  }

  &.active {
    span:nth-child(1) {
      transform: rotate(45deg) translate(2px, 7px);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translate(2px, -7px);
    }
  }

  @media (max-width: 768px) {
    display: flex;
  }
}