.modal-header {
  display: flex;
  align-items: center;

  .cabecalho-detalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 16px;
      text-align: center;
    }

    span {
      color: var(--royal-blue);
      font-size: 36px !important;
      font-family: var(--font-display);
      font-weight: 600;

      @media (max-width: 768px) {
        font-size: 20px !important;
      }
    }

    i {
      background: var(--gradient-primary);
      color: var(--white);
      padding: 6px;
      font-size: 28px;
      border-radius: 50%;
      transition: var(--transition-normal) !important;
      cursor: pointer;

      &:hover {
        background: var(--white);
        color: var(--royal-blue);
        border: 1px dashed var(--royal-blue);
        transform: scale(1.1);
      }


      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
  }
}
