.base-legal {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .section-title {
        @media (max-width: 768px) { 
            font-size: 24px;
            text-align: center;
        }
    }

    .intro {
        font-size: 24px;
        color: var(--royal-blue);
        font-weight: 700;
        margin: 0;
        margin-bottom: 10px !important;

        @media (max-width: 768px) {
            font-size: 18px;
            text-align: center;
        }
    }

    .tax {
        @media (max-width: 768px) { 
            flex-direction: column;
        }
    }

    .tax-box {
        flex: 1;
        padding: 20px;
        border: 2px solid var(--royal-blue); 
        border-radius: 10px;
        box-shadow: var(--shadow-md);

        p {
            color: var(--gray-600);
            @media (max-width: 768px) { 
                font-size: 14px;
                text-align: center;
            }
        }
    }

    .implantacao {
        display: flex;
        gap: 15px;

        @media (max-width: 768px) { 
            flex-direction: column;
        }

        .implantacao_card {
            flex: 1;
            text-align: center;
            border-top: 4px solid var(--royal-blue-light);
            border-radius: 10px;
            background: var(--gradient-blur);
            padding: 25px 10px;

            .stat-number {
                font-size: 40px;
                font-weight: 700;
                color: var(--royal-blue);

                @media (max-width: 768px) {
                    font-size: 24px;
                    text-align: center;
                 }
            }

            .stat-label {
                color: var(--gray-600);
                font-weight: 500;
                font-size: 18px;
                text-align: center;

                @media (max-width: 768px) { 
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
    }

    .card-alert {
        background: var(--sand);
        border: 2px solid var(--sand-dark);
        border-radius: 10px;
        padding: 20px;
        text-align: start;

        .titulo_card-alert {
            font-size: 20px;
            font-weight: 600;
            color: var(--sand-dark-two);

            @media (max-width: 768px) { 
                font-size: 18px;
                text-align: center;
            }
        }

        p {
            color: var(--gray-600);
            @media (max-width: 768px) { 
                font-size: 14px;
                text-align: center;
            }
        }

        ul li {
            color: var(--gray-700);
            font-size: 14px;
        }
    }

    .card-info {
        flex: 1;
        border: 2px solid var(--royal-blue-light);
        border-radius: 10px;
        padding: 20px 40px;
        background: var(--gradient-blur);

        @media (max-width: 768px) { 
            padding: 20px;
        }

        .titulo_card-info {
            font-size: 20px;
            font-weight: 600;
            color: var(--royal-blue-light);
            margin-bottom: 20px !important;

            @media (max-width: 768px) { 
                font-size: 18px;
                text-align: center;
            }
        }

        p {
            color: var(--gray-600);

            @media (max-width: 768px) { 
                text-align: center;
                font-size: 14px;
            }
        }
     
        li {
            color: var(--gray-600);
            @media (max-width: 768px) {
                font-size: 14px;
                               
            }
        }
    }
}