<div class="cronograma">

  <div class="titulo-intro">
    <i class="fa-solid fa-calendar-days"></i>
    <span>Cronograma de Implantação (2023–2033)</span>
  </div>
  <div class="subtitulo-intro">
    A implantação do novo modelo de tributação sobre o consumo terá início em 2026, com transição até 2033. No entanto,
    sua
    estruturação começou em 2023, com a Emenda Constitucional que definiu um período de migração de 10 anos, permitindo
    a substituição gradual de tributos como ICMS e ISS de forma planejada e coordenada.
  </div>

  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-content">
        <div style="margin: 15px 0px;">
          <span class="ano">2023</span>
        </div>
        <h4 class="intro">Marco Legal da Reforma</h4>
        <ul>
          <li>Promulgação da Emenda Constitucional nº 132/2023</li>
          <li>Definição do novo modelo com CBS, IBS e IS</li>
          <li>Previsão de transição de 2026 a 2033</li>
        </ul>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-content">
        <div style="margin: 15px 0px;">
          <span class="ano">2024</span>
        </div>
        <h4 class="intro">Regulamentação e Ajustes</h4>
        <ul>
          <li>Debates sobre leis complementares do novo sistema</li>
          <li>Construção do Comitê Gestor do IBS</li>
          <li>Participação ativa de entes federativos e setor privado</li>
        </ul>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-content">
        <div style="margin: 15px 0px;">
          <span class="ano">2025</span>
        </div>
        <h4 class="intro">Preparação Técnica</h4>
        <ul>
          <li>Definição das alíquotas de referência da CBS e IBS</li>
          <li>Desenvolvimento e testes dos sistemas de escrituração</li>
          <li>Inicio dos testes do novo modelo de NFE/NFC</li>
          <li>Capacitação de empresas e órgãos públicos</li>
        </ul>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-content">
        <div style="margin: 15px 0px;">
          <span class="ano">2026</span>
        </div>
        <h4 class="intro">Ano-Teste</h4>
        <ul>
          <li>Entrada em vigor da CBS (0,9%) e IBS (0,1%)</li>
          <li>Recolhimento efetivo com compensação de PIS e COFINS</li>
          <li>Obrigatoriedade de destacar os tributos nas notas fiscais</li>
          <li>Início da substituição do SAT</li>
        </ul>
        <div class="card-alert">
          <p>
            <strong>Importante:</strong> 
            Os valores pagos de CBS e IBS serão compensados nas guias de PIS/COFINS,
            evitando aumento de carga tributária. E os sistemas precisam estar devidamente parametrizados, caso contrário, haverá rejeição na emissão das notas fiscais.
          </p>
        </div>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-content">
        <div style="margin: 15px 0px;">
          <span class="ano">2027</span>
        </div>
        <h4 class="intro">Início da Cobrança</h4>
        <ul>
          <li>CBS entra em vigor e substitui PIS/COFINS</li>
          <li>IS (Imposto Seletivo) começa a ser cobrado</li>
          <li>IPI extinto, exceto para produtos da Zona Franca de Manaus</li>
          <li>IBS permanece com alíquota simbólica</li>
        </ul>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-content">
        <div style="margin: 15px 0px;">
          <span class="ano">2029 - 2032</span>
        </div>
        <h4 class="intro">Transição Gradual do IBS</h4>
        <p>IBS começa a substituir ICMS e ISS de forma escalonada:</p>
        <ul>
          <li>2029: 10% via IBS • 90% ainda pelo ICMS/ISS</li>
          <li>2030: 20% via IBS • 80% pelo ICMS/ISS</li>
          <li>2031: 30% via IBS • 70% pelo ICMS/ISS</li>
          <li>2032: 40% via IBS • 60% pelo ICMS/ISS</li>
        </ul>
        <p>Redução proporcional do ICMS e ISS</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-content">
        <div style="margin: 15px 0px;">
          <span class="ano">2033</span>
        </div>
        <h4 class="intro">Implantação Total</h4>
        <div class="card-info">
          <h5 class="titulo_card-info">Novo sistema plenamente implantado:</h5>
          <ul>
            <li>CBS e IBS operando integralmente</li>
            <li>ICMS e ISS extintos</li>
            <li>IPI mantido apenas para ZFM</li>
            <li>IS em vigor com regras próprias</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>