.duvidas {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .titulo-intro {
        color: var(--royal-blue);
        font-weight: 700;
        font-size: 36px;

        @media (max-width: 768px) { 
            font-size: 24px;
            text-align: center;
        }
    }
}


:host ::ng-deep .p-accordion-header-link {
    border: 2px solid var(--royal-blue);
    background: var(--royal-blue);
    padding: 20px;
    color: var(--white);
    text-decoration: none;
    margin-top: 10px;
    outline: none;

    @media (max-width: 768px) { 
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 500;
    }

    .p-accordion-toggle-icon {
        order: 2;
        margin-left: auto;
        color: var(--white);
        transform: scale(1.5);
        transition: var(--transition-slow) !important;

        @media (max-width: 768px) {
            transform: scale(1.0);
         }
    }
}

:host ::ng-deep .p-accordion-content {
    background: var(--sand-light);
    padding: 20px;
    border-left: 2px solid var(--royal-blue);
    border-right: 2px solid var(--royal-blue);
    border-bottom: 2px solid var(--royal-blue);

    @media (max-width: 768px) { 
        padding: 10px 20px;
        font-size: 12px;
    }
    
}