.recolhimento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .titulo-intro {
        color: var(--royal-blue);
        font-weight: 700;
        font-size: 36px;

        @media (max-width: 768px) {
            font-size: 24px;
            text-align: center;
        }
    }

    .grid-cards {
        display: flex;
        gap: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .card {
            flex: 1;
            background: var(--white);
            border: 1px solid var(--royal-blue);
            border-radius: 10px;
            padding: 20px;
            box-shadow: var(--shadow-md);
            display: flex;
            flex-direction: column;
            gap: 10px;

            h3 {
                margin: 0;
                color: var(--royal-blue);
                font-size: 26px;
                display: flex;
                align-items: center;
                gap: 8px;

                @media (max-width: 768px) {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }

            p {
                color: #333;
                font-size: 0.95rem;
                line-height: 1.4;
            }

            .exemplo {
                background: #e6f4ea;
                border-radius: 8px;
                padding: 10px;
                font-size: 12px;
                color: #1a4d2e;
                border-left: 4px solid #80c997;
            }
        }
    }

    .card-alert {
        background: var(--sand);
        border: 2px solid var(--sand-dark);
        border-radius: 10px;
        padding: 20px;

        .titulo_card-alert {
            font-size: 20px;
            font-weight: 600;
            color: var(--sand-dark-two);
            margin-bottom: 8px;

            @media (max-width: 768px) {
                font-size: 18px;
                text-align: center;
            }
        }

        .subtitulo_card-alert {
            font-weight: 550;
            color: var(--gray-600);
            line-height: 1.6;

            @media (max-width: 768px) {
                font-size: 14px;
                text-align: center;
            }
        }
    }
}