<div class="split-payment">
    <h1 class="titulo-intro">
        <i class="fa-solid fa-scissors"></i> &nbsp;
        <span>Split Payment</span>
    </h1>
    <div class="subtitulo-intro">
        O Split Payment, ou pagamento fracionado, é um mecanismo de recolhimento automático do imposto que separa, no momento do pagamento, o valor do tributo do valor líquido da operação.
    </div>

    <div class="card-info">
        <div class="titulo_card-info">
            <h2 class="intro">Como Funciona:</h2>
        </div>
        <ul>
            <li>O valor correspondente ao imposto (IBS/CBS) é direcionado diretamente ao governo;</li>
            <li>O fornecedor recebe apenas o valor líquido da venda, sem o valor do tributo;</li>
        </ul>
    </div>

    <h2 class="intro">Exemplo Prático</h2>

    <div class="exemplo">
        <div class="card_exemplo">
            <i class="fa-solid fa-user" style="color: #0081b4;"></i>
            <h2>1. Comprador</h2>
            <p>Paga R$ 1.000,00 com alíquota de 26,5%</p>
        </div>
        <div class="ico"><i class="fa-solid fa-circle-arrow-right"></i></div>
        <div class="card_exemplo">
            <i class="fa-solid fa-bank" style="color: #28a745;"></i>
            <h2>2. Banco</h2>
            <p>Identifica e separa R$ 265,00 de tributo</p>
        </div>
        <div class="ico"><i class="fa-solid fa-circle-arrow-right"></i></div>
        <div class="card_exemplo">
            <i class="fa-solid fa-landmark" style="color: #ffc107;"></i>
            <h2>3. Fisco</h2>
            <p>Recebe R$ 265,00 diretamente</p>
        </div>
        <div class="ico"><i class="fa-solid fa-circle-arrow-right"></i></div>
        <div class="card_exemplo">
            <i class="fa-solid fa-store" style="color: #0081b4;"></i>
            <h2>4. Fornecedor</h2>
            <p>Recebe R$ 735,00 líquidos</p>
        </div>
    </div>

    <h2 class="intro">Quem realiza a Separação</h2>
    
    <div class="separacao">
        <div class="card_separacao">
            <i class="fa-solid fa-bank"></i>
            <h2>Instituições Financeiras</h2>
            <p>(bancos e fintechs)</p>
        </div>
        <div class="card_separacao">
            <i class="fa-solid fa-credit-card"></i>
            <h2>Plataformas de Pagamento</h2>
            <p>(e-comerce)</p>
        </div>
        <div class="card_separacao">
            <i class="fa-solid fa-gears"></i>
            <h2>Sistemas Integrados</h2>
            <p>(conforme regulamentação)</p>
        </div>
    </div>

    <div class="card-alert">
        <h1 class="titulo_card-alert">
            <i class="fa-solid fa-gavel"></i> &nbsp;
            <span>Regulamentação e Aplicacão</span>
        </h1>
        <div class="subtitulo_card-alert">
            O Split Payment será obrigatório em determinadas operações, a serem definidas por leis complementares e atos do Comitê Gestor do IBS e da Receita Federal (CBS).
        </div>
    </div>
    
</div>