.split-payment {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .titulo-intro {
        color: var(--royal-blue);
        font-weight: 700;
        align-items: center;
        font-size: 36px;

        @media (max-width: 768px) {
            font-size: 24px;
            text-align: center;
        }
    }

    .subtitulo-intro {
        color: var(--gray-600);

        @media (max-width: 768px) {
            font-size: 14px;
            text-align: center;
        }

    }

    .card-info {
        border: 2px solid var(--royal-blue-light);
        border-radius: 10px;
        padding: 20px 40px;
        background: var(--gradient-blur);
        box-shadow: var(--shadow-md);

        @media (max-width: 768px) {
            padding: 20px;
        }

        h2 {
            margin-bottom: 10px;
        }

        li {
            color: var(--gray-600);

            @media (max-width: 768px) {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    }

    .intro {
        font-size: 24px;
        color: var(--royal-blue);
        font-weight: 700;
        margin: 0;

        @media (max-width: 768px) {
            font-size: 20px;
            text-align: center;
        }
    }

    .exemplo {
        display: flex;
        background: var(--gradient-blur);
        padding: 15px;
        box-shadow: var(--shadow-md);
        border-radius: 10px;
        align-items: stretch;

        .card_exemplo {
            padding: 20px;
            flex: 1;
            background: rgba(255, 255, 255, 0.2);
            border: 1px dashed var(--royal-blue-light);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            i {
                font-size: 48px;
            }

            h2 {
                font-size: 24px;
                font-weight: 700;
                color: var(--royal-blue);
                text-align: center;
            }

            p {
                text-align: center;
                color: var(--gray-600);
            }
        }

        .ico {
            margin: auto 0;

            i {
                font-size: 24px;
                padding: 0px 10px;
                color: var(--royal-blue);

                @media (max-width: 768px) {
                    transform: rotate(90deg);
                }
            }

            @media (max-width: 768px) {
                margin: 0 auto;
                padding: 10px 0px;
            }
        }


        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .separacao {
        display: flex;
        gap: 15px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .card_separacao {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-top: 4px solid var(--royal-blue-light);
            border-radius: 10px;
            background: var(--gradient-blur);
            padding: 25px 0px;
            box-shadow: var(--shadow-md);

            i {
                font-size: 40px;
                color: var(--royal-blue);
                margin-bottom: 10px;
            }

            h2 {
                font-size: 20px;
                color: var(--gray-800);
            }

            p {
                color: var(--gray-600);
                margin: 0;
            }
        }
    }

    .card-alert {
        background: var(--sand);
        border: 2px solid var(--sand-dark);
        border-radius: 10px;
        padding: 20px;

        .titulo_card-alert {
            font-size: 20px;
            font-weight: 600;
            color: var(--sand-dark-two);
            margin-bottom: 8px;

            @media (max-width: 768px) {
                font-size: 18px;
                text-align: center;
            }
        }

        .subtitulo_card-alert {
            font-weight: 550;
            color: var(--gray-600);

            @media (max-width: 768px) {
                text-align: center;
                font-size: 14px;
            }
        }
    }

}