<div class="modal-header">
  <div class="cabecalho-detalhes">
    <span class="titulo-detalhe">{{ dados?.titulo }}</span>
    <i class="fa-solid fa-circle-xmark" (click)="fecharModal()"></i>
  </div>
</div>

<div class="modal-body">
  <div class="conteudo-detalhes">
    <div class="descricao-expandida">
      {{ dados?.descricaoExpandida }}
    </div>

    <div class="lista-beneficios">
      <h4>Principais Benefícios:</h4>
      <ul>
        <li *ngFor="let beneficio of dados?.beneficios">
          <i class="fas fa-check-circle"></i>
          {{ beneficio }}
        </li>
      </ul>
    </div>

    <div class="processo-implantacao">
      <h4>Como Funciona:</h4>
      <div class="etapas-processo">
        <div class="etapa" *ngFor="let etapa of dados?.etapasProcesso; let i = index">
          <div class="numero-etapa">{{ i + 1}}</div>
          <div class="descricao-etapa">{{ etapa }}</div>
        </div>
      </div>
    </div>

    <div class="acoes-detalhes">
      <button class="botao-primario" (click)="navegarParaSecaoContato($event)">
        <i class="fas fa-calculator"></i> &nbsp;
        Solicitar Orçamento
      </button>
      <button class="botao-secundario" (click)="abrirCalendly()">
        <i class="fas fa-calendar-alt"></i> &nbsp;
        <span>Agendar Consulta</span>
      </button>
    </div>

  </div>
</div>