.app-container {
  display: flex;
  min-height: 100vh;
  background: var(--sand-light);
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 280px;
  height: 60px;
  display: flex;
  gap: 40px;
  padding: 0 20px;
  background: var(--royal-blue-dark);
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: var(--transition-normal) !important;

  &.sidebar-collapsed {
    left: 70px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    left: 0px;
    gap: 0px;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
  }

  .botao-voltar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    transition: var(--transition-normal) !important;

    &:hover {
      transform: scale(1.1);
      color: var(--sand-dark);
    }

    @media (max-width: 768px) {
      background: var(--sand-dark-two);
      margin-bottom: 10px;
      padding: 2px 20px;
      border-radius: 10px;
    }
  }

  .rota-atual {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #e2e2e2;

    p {
      margin: 0;
    }

    .rota-ativa {
      margin-left: 5px;
      font-weight: 700;
      color: #fff;
    }
  }
}

.main-wrapper {
  flex: 1;
  margin-left: 280px;
  transition: margin-left var(--transition-normal) !important;
  overflow-x: hidden;

  &.sidebar-collapsed {
    margin-left: 70px;
  }

  @media (max-width: 768px) {
    margin-left: 0px;
  }
}