.introducao {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .titulo-intro {
        color: var(--royal-blue);
        font-weight: 700;
        gap: 10px;
        font-size: 36px;

        @media (max-width: 768px) {
            font-size: 24px;
            text-align: center;
        }
    }

    .subtitulo-intro {
        font-size: 20px;
        color: var(--gray-600);

        @media (max-width: 768px) {
            font-size: 16px;
            text-align: center;
        }
    }

    .card-info {
        border: 2px solid var(--royal-blue-light);
        border-radius: 10px;
        padding: 20px 40px;
        background: var(--gradient-blur);

        @media (max-width: 768px) {
            padding: 20px 10px;
        }

        .titulo_card-info {
            font-size: 24px;
            font-weight: 600;
            color: var(--royal-blue-light);

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        span {
            font-weight: 700;
            line-height: 2;
        }

        ul li {
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }

    h2 {
        font-size: 26px;
        color: var(--royal-blue);
        font-weight: 700;
        margin: 10px 0;

        @media (max-width: 768px) {
            font-size: 20px;
            text-align: center;
        }
    }

    p {
        color: var(--gray-600);
        font-weight: 500;

        @media (max-width: 768px) {
            text-align: center;
        }
    }

    .modelo-dual {
        display: flex;
        gap: 10px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .card-alert {
        background: var(--sand);
        border: 2px solid var(--sand-dark);
        border-radius: 10px;
        padding: 20px;

        .titulo_card-alert {
            font-size: 20px;
            font-weight: 600;
            color: var(--sand-dark-two);
            margin-bottom: 8px;

            @media (max-width: 768px) {
                font-size: 18px;
                text-align: center;
            }
        }

        .subtitulo_card-alert {
            font-weight: 550;
            color: var(--gray-600);

            @media (max-width: 768px) {
                text-align: center;
                font-size: 14px;
            }
        }
    }

    .novos-tributos {
        display: flex;
        gap: 15px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .card_novos-tributos {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-top: 4px solid var(--royal-blue-light);
            border-radius: 10px;
            background: var(--gradient-blur);
            padding: 25px 10px;
            text-align: center;

            .title-card_novos-tributos {
                font-size: 40px;
                font-weight: 700;
                color: var(--royal-blue);
                margin-bottom: 10px;

                @media (max-width: 768px) {
                    font-size: 32px;
                }

                h1 {
                    font-size: 18px;
                    color: var(--royal-blue-light);
                    font-weight: 700;

                    @media (max-width: 768px) {
                        font-size: 16px;
                    }
                }
            }

            span {
                color: #2c3e50;
                font-weight: 500;
                font-size: 18px;

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }

            p {
                font-size: 14px;
                color: var(--gray-500);
                text-align: center;

                @media (max-width: 768px) {
                    font-size: 12px;
                }

                span {
                    font-size: 14px;

                    @media (max-width: 768px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }

}