<div class="introducao">

    <h4 class="titulo-intro">
        <i class="fa-solid fa-circle-info"></i>
        O que é a Reforma Tributária sobre o Consumo?
    </h4>
    <div class="subtitulo-intro">
        A Reforma Tributária do Consumo é uma mudança no sistema tributário brasileiro que simplifica e moderniza a
        forma como são cobrados os tributos sobre bens e serviços, tornando o processo mais eficiente e transparente.
    </div>

    <div class="card-info">
        <h1 class="titulo_card-info">
            <i class="fa-solid fa-lightbulb"></i> &nbsp;
            <span>Principais Pilares da Reforma</span>
        </h1>
        <ul>
            <li>
                <span>Adoção do Imposto sobre Valor Adicionado (IVA)</span>
                - incidirá sobre o consumo de bens e serviços;
            </li>
            <li>
                <span>Eliminação da cumulatividade tributária</span>
                - fim da cobrança repetida de impostos;
            </li>
            <li>
                <span>Arrecadação no destino</span>
                - imposto recolhido onde o bem/serviço é consumido;
            </li>
            <li>
                <span>Cálculo "por fora"</span>
                - valor do imposto destacado do preço final.
            </li>
        </ul>
    </div>

    <h2>Modelo Brasileiro de IVA Dual</h2>
    <div class="subtitulo-intro">
        O <strong>IVA</strong> é um imposto sobre o consumo que incide sobre o valor agregado em cada etapa da cadeia
        produtiva.
        O <strong>Modelo Dual</strong> divide esse imposto em duas partes, permitindo arrecadação separada, mas
        integrada, em um sistema unificado.
    </div>

    <div class="card-alert">
        <h1 class="titulo_card-alert">
            <i class="fa-solid fa-triangle-exclamation"></i> &nbsp;
            <span>Importante</span>
        </h1>
        <div class="subtitulo_card-alert">
            A Lei Complementar nº 214/2025, aprovada em janeiro de 2025, estabeleceu a criação e regulamentação desses
            tributos, definindo também a estrutura de governança do novo sistema.
        </div>
    </div>

    <h2>Nova Estrutura Tributária</h2>
    <div class="subtitulo-intro">Com a reforma, a nova estrutura da tributação sobre o consumo será composta por três
        instrumentos principais:</div>

    <div class="novos-tributos">
        <div class="card_novos-tributos">
            <div class="title-card_novos-tributos">
                CBS
                <h1>Contribuição sobre Bens e Serviços</h1>
            </div>
            <span>Tributo Federal</span>
            <p>Competência da União</p>
            <p>Substitui: <br> <span>PIS e COFINS</span></p>
        </div>
        <div class="card_novos-tributos">
            <div class="title-card_novos-tributos">
                IBS
                <h1>Imposto sobre Bens e Serviços</h1>
            </div>
            <span>Tributo Estadual/Municipial</span>
            <p>Competência Estados/Municipios</p>
            <p>Substitui: <br>
                <span>ICMS e ISS</span>
            </p>
        </div>
        <div class="card_novos-tributos">
            <div class="title-card_novos-tributos">
                IS
                <h1>Imposto Seletivo</h1>
            </div>
            <span>Tributo Extrafiscal</span>
            <p>Competência da União</p>
            <p>Incide sobre: <br>
                <span>Produtos prejudiciais ao meio ambiente.</span>
            </p>
        </div>
    </div>

    <p>O Imposto Seletivo (IS) foi apelidado de "Imposto do Pecado" por sua natureza extrafiscal, voltado para
        desestimular o consumo de bens e serviços prejudiciais à saúde ou ao meio ambiente.</p>
</div>