<div class="single-page-content">
  <section id="introducao"> <app-introducao></app-introducao> </section>
  <section id="cronograma"> <app-cronograma></app-cronograma> </section>
  <!-- <section id="fato-gerador"> <app-fato-gerador></app-fato-gerador> </section> -->
  <section id="calculo"> <app-calculo></app-calculo> </section>
  <section id="credito"> <app-credito></app-credito> </section>
  <section id="recolhimento"> <app-recolhimento></app-recolhimento> </section>
  <section id="restituicao-cashback"> <app-restituicao-cashback></app-restituicao-cashback> </section>
  <section id="split-payment"> <app-split-payment></app-split-payment> </section>
  <section id="ipi"> <app-ipi></app-ipi> </section>
  <section id="simples-nacional"> <app-simples-nacional></app-simples-nacional> </section>
  <section id="imposto-seletivo"> <app-imposto-seletivo></app-imposto-seletivo> </section>
  <section id="nota-fiscal"> <app-nota-fiscal></app-nota-fiscal> </section>
  <section id="duvidas"> <app-duvidas></app-duvidas> </section>
  <section id="base-legal"> <app-base-legal></app-base-legal> </section>
</div>
<app-footer></app-footer>
