<nav class="menu-flutuante">
  <div class="logo-parametriz" (click)="navegarParaSecao('home')">
    <img src="/assets/logo-white.png" >
    <div class="content-texto">
      <h1>PARAMETRIZ</h1>
      <h2>SOLUÇÕES TECNOLÓGICAS</h2>
    </div>
  </div>
  <div class="nav-container">
    <div class="nav-links" [class.active]="estaMenuAberto">
      <a href="#home" class="nav-link" [class.active]="secaoAtiva === 'home'" (click)="navegarParaSecao('home')">Início</a>
      <a href="#services" class="nav-link" [class.active]="secaoAtiva === 'services'" (click)="navegarParaSecao('services')">Serviços</a>
      <a href="#benefits" class="nav-link" [class.active]="secaoAtiva === 'benefits'"  (click)="navegarParaSecao('benefits')">Benefícios</a>
      <a href="#processo" class="nav-link" [class.active]="secaoAtiva === 'processo'" (click)="navegarParaSecao('processo')">Processo</a>
      <a href="#contact" class="nav-link" [class.active]="secaoAtiva === 'contato'" (click)="navegarParaSecao('contato')">Contato</a>
      <!-- <div class="nav-link reforma" routerLink="/reforma-tributaria">Reforma Tributária</div> -->
    </div>
    
    <button class="menu-toggle" [class.active]="estaMenuAberto" (click)="alternarMenu()" aria-label="Alternar menu de navegação">
      <span></span>
      <span></span>
      <span></span>
    </button>
    
  </div>
</nav>

